// Theme color: pastel pinkish purple
$primary-color: #c17cff;  
$secondary-color: #c173ee72; 
$background-color: #f6f0ff; 
$text-color: #3e3e3e; 
$ai-message-bg: #e1d3f1;  
$user-message-bg: #d9a9e834; 
$button-bg: #9b69b7; 
$button-hover-bg: #c17cff; 
$scrollbar-color: #9b69b7; 
$main-title-color:#f7ebfe;
$sub-title-color:#f0dcffe8;
