//Gradient background
@mixin gradient-background($start-color, $end-color) {
    background: linear-gradient(135deg, $start-color, $end-color);
  }
  
//Button style
@mixin button-style($bg-color, $hover-color) {
  background-color: $bg-color;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  
  &:hover {
    background-color: $hover-color;
  }
}



  