@import './variables';
@import './mixins';
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; 
}

.mainTitle {
  font-size: 50px;
  color: $main-title-color; 
  font-family: 'Macondo', serif; 
  text-align: center; 
  position: fixed;
  top: 2%; 
  left: 50%; 
  transform: translateX(-50%);
  z-index: 1000; //Ensure a higher z-index to avoid being overlapped by other elements
  white-space: nowrap;

  //Adjust font size on small screens
  @media (max-width: 768px) {
    font-size: 30px; 
  }
}

.subTitle {
  font-size: 25px;
  color: $sub-title-color; 
  font-family: 'Lilita One', serif; 
  text-align: center; 
  position: fixed;
  top: 10%; 
  left: 50%; 
  transform: translateX(-50%);
  z-index: 1000; 

  //Adjust font size on small screens
  @media (max-width: 768px) {
    font-size: 15px; 
  }
}
.chatContainer {
  width: 700px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  background-color: $background-color;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-height: 1000px;
  max-width: 1000px;
  height: 80%; 
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); 
  
  //Adjust width and height on small screens
  @media (max-width: 768px) {
    width: 100%;
    height: 80%;
    padding: 10px;
  }
}

.chatBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-bottom: 15px;
  padding-right: 10px;

  //Styles for chatbox scrollbar
  scrollbar-color: $scrollbar-color; 

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $scrollbar-color;
    border-radius: 4px;
  }
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
}

.message {
  padding: 10px;
  border-radius: 15px;
  max-width: 80%;
}

.user {
  @include gradient-background($user-message-bg, $secondary-color);
  align-self: flex-end;
}

.ai {
  @include gradient-background($ai-message-bg, $primary-color);
  align-self: flex-start;
}

.inputContainer {
  display: flex;
  margin-top: auto;
}

.inputContainer input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.inputContainer button {
  @include button-style($button-bg, $button-hover-bg);
  width: 15%;
  padding: 10px;
  border-radius: 5px;
}
